@page "/members"

@using GolfClubManagerWASM.Models
@using GolfClubManagerWASM.Models
@inject HttpClient Http

<h3>Members List</h3>

@if (members == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Membership Number</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Handicap</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in members)
        {
            <tr>
                <td>@member.MembershipNumber</td>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>@member.Gender</td>
                <td>@member.Handicap</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Member> members;

    protected override async Task OnInitializedAsync()
    {
        members = await Http.GetFromJsonAsync<List<Member>>("http://localhost:5080/api/members");
    }
}